$primary-color: #0e0d0d;
$secondary-color: #FF5733;
$secondary-color-dark: #c34225;
$alpha-background: #55555555;

body{
    background-color: $primary-color;
    color: $secondary-color;
}

.login-form-container{
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: 70vw;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.login-form__legend{
    font-weight: bold;
    font-size: 30px;
}

.login-login-fieldset{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;  
    border: none;
    margin: 0;
    background: $alpha-background;
    border-radius: 10px 10px 0 0;
}

.login-signup-fieldset{
    height: 20%;
    border: none;
    display: flex;
    flex-direction: column;
    background: $alpha-background;
    margin: 0;
    border-radius: 0 0 10px 10px;
}

.login-input-container{
    display: flex;
    flex-direction: column;
}

.login-form__submit, .login-form__signup{
    height: 40px;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid black;
    background-color: $primary-color;
    background-color: $secondary-color;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 200ms;
}

.login-form__submit:hover, .login-form__signup:hover{
    background-color: $secondary-color-dark;
}

.login-input__label{
    font-weight: bold;
    font-size: 20px;
}

.login-input__input{
    height: 20px;
    margin-top: 5px;
    padding: 2px;
    border: none;
    border-bottom: 1px solid $secondary-color;
    background-color: #00000000;
    color: white;
    outline: none;
    font-size: 20px;
    width: calc(100% - 5px);
}


